In [1]:
from itertools import combinations
import pandas as pd

In [2]:
data = pd.DataFrame({'score': {1: 78, 2: 64, 3: 68, 4: 62, 5: 85},
                     'workers': {1: 7, 2: 4, 3: 5, 4: 5, 5: 8}})
max_workers = 23

data.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>score</th>
      <th>workers</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>78</td>
      <td>7</td>
    </tr>
    <tr>
      <th>2</th>
      <td>64</td>
      <td>4</td>
    </tr>
    <tr>
      <th>3</th>
      <td>68</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>62</td>
      <td>5</td>
    </tr>
    <tr>
      <th>5</th>
      <td>85</td>
      <td>8</td>
    </tr>
  </tbody>
</table>
</div>

In [6]:
prior = None
max_score = 0
for i in range(1, len(data)+1):
    for indexes in combinations(data.index, i):
        var = data[data.index.isin(indexes)]
        if sum(var['workers']) > max_workers:
            continue
        
        if max_score < sum(var['score']):
            max_score = sum(var['score'])
            prior = var

print(f'Max score: {max_score}')
print(f'Заявки к одобрению: {[_ for _ in prior.index]}')
print(prior)

Max score: 279
Заявки к одобрению: [2, 3, 4, 5]
   score  workers
2     64        4
3     68        5
4     62        5
5     85        8